<h1>Heroes<small>de Marvel y DC y otros</small></h1>

<div class="card-columns">
  <div *ngFor="let hero of heroes; let i = index" class="card animated fadeIn fast">
      <img [src]="hero.img" class="card-img-top" [alt]="hero.nombre">
      <div class="card-body">
        <h5 class="card-title">{{ hero.nombre }}</h5>
        <p class="card-text"> {{ hero.bio }} </p>
        <p class="card-text"><small class="text-muted">Aparicion: {{hero.aparicion}}</small></p>

        <button (click)= "verHeroe(i)" type="button" class="btn btn-outline-primary btn-block" name="button">See more ...</button>
        <a [routerLink]="['/heroe',i]" href="#" class="btn btn-outline-primary">Ver mas link</a>
      </div>
    </div>
</div>
